.accountNavWrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: white;
  width: 100%;
  margin: 5px 0;
  padding: 0;
  height: 50px;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
}
.accountNavWrapper span {
  padding: 5px;
  color: #837e7e;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.8s;
}
.accountNavWrapper span:hover {
  /* color: #323232; */
  color: white;
}
.accountNavWrapper span:nth-child(1):hover {
  background: rgb(204, 137, 11);
}

.accountNavWrapper span:nth-child(2):hover {
  background: rgb(6, 102, 6);
}

.accountNavWrapper span:nth-child(3):hover {
  background: rgb(151, 8, 8);
}
