.navBar {
  display: grid;
  grid-template-columns: 80% auto;
  background-color: #f2f6fa;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 0 4px 2px -2px rgb(209, 204, 204);
}

.navProfileWrapper {
  width: 100%;
  padding: 12px 0;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 20% auto;
  align-items: center;
  font-weight: 600;
}

.navProfileWrapper img {
  height: 40px;
  border-radius: 50%;
}
